.d-flex{
display: flex;
gap: 1rem;
}
.d-flex img{
height: 55px;
}
.d-flex h1{
font-size: 32px;
font-weight: 500;
color: #fff;
text-decoration: none;
}
.connect-box{
    background: linear-gradient(90deg, #00FF47 0%, #00FF47 33.65%, #FAFF00 37.81%, #FAFF00 69.06%, #FF00D6 72.19%, #FF00D6 100%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
width: 166px;
padding: 1px;

}
.connect-btn{
    background-color: #fff;
    padding: 2% 10% 2% 10%;
    font-size: 20px;
}
.css-ztizd3-MuiToolbar-root{
    border-bottom: 5px solid #ff00d685 !important;
}
.css-1vnwtzf{
    border-bottom: 5px solid #ff00d685 !important;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team-1 h1{
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 3% 0% 4% 0%;
    color: #FFFFFF;
}
.team-2 h1{
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 3% 0% 4% 0%;
    color: #FFFFFF;
}
.text-center{
    text-align: center;
}
.team-1{
    width: 50%;
    text-align: center;
    border-right: 5px solid #850070;
}
.team-2{
    width: 50%;
    text-align: center;
}
.team-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 2%;
}

.team-1 img{
    height: 95px;
    width: auto;
}
.team-2 img{
    height: 95px;
    width: auto;
}
.team-box img{
    height: 130px;
    width: auto;
}
.club-img img{
   height: 165px;
    width: auto;
}
.d-grid{
    display: grid;

    grid-template-columns: repeat(4, auto);
    width: 100%;
    justify-content: center;
    gap: 2rem !important;
    padding-top: 2%;
    padding-bottom: 3%;
}
.market-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.market-box-1{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 8%;
}
.market-box-2{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
}
.market-btn{
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    padding: 0% 1%;
    /* width: 109%; */
    gap: 3rem;
}
.market-btn p{
    border-right: 5px solid #FF00D6;
    padding: 3% 11%;

}
.mark img{
    height: 125px;
}
#main-video{
    width: 900px;
    height: 900px;
}
.center{
    position: absolute;
    margin: auto;
    left: 30%;
    right: 0;
    top: -3%;
}
.market-box-section{
    padding-top: 3%;
    padding-bottom: 3%;
}
.box-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}
.market-box-1-1{
    margin: auto;
}
.market-box-2-2{
    margin: auto;
}
.market-box-3-3{
    margin: auto;
}
.market-box-1-1 h1{
    color: #fff;
    font-size: 18px;
}
.market-box-2-2 h1{
    color: #fff;
    font-size: 18px;
}
.market-box-3-3 h1{
    color: #fff;
    font-size: 18px;
}
.soon{
    border: 2px solid #850070;
    padding: 16% 2%;
    width: 181px;
    border-radius: 3px;
}
@media (max-width:768px) {
    .box-row{
        display: grid;
        grid-template-columns:  1fr 1fr;
        text-align: center;
    
    }
    #main-video {
        width: 359px;
        height: auto;
    }
    .center{
        position: relative;
        left: 7%;
        right: 0;
        top: 80%;
    }
    .row{
flex-direction: column;
    }
    .team-1{
        width: 100%;
        border-right:none;
        border-bottom: 2px solid #850070;
    }
    .team-2{
        width: 100%;
    }
    .team-box img{
        height: 96px;
    }
    .connect-btn{
        background-color: #fff;
        padding: 1% 7% 1% 7%;
        font-size: 15px;
    }
    .connect-box{
        width: 118px;
    }
    .d-grid {
      
        grid-template-columns: repeat(2, auto);
        width: 100%;
       
        gap: 1rem !important;
      
    }
    .club-img img{
        height: 118px;
    }

    .market-box-1 {
        display: grid;
        /* flex: auto; */
        grid-template-columns: 1fr 1fr 1fr;
        /* flex-direction: row; */
        justify-content: space-around;
        padding-top: 4%;
        padding-bottom: 15%;
    }
    .market-box-2{
        display: grid;
        /* flex: auto; */
        grid-template-columns: 1fr 1fr 1fr;
        /* flex-direction: row; */
        justify-content: space-around;
        padding-top: 4%;
        padding-bottom: 15%; 
    }
    .mark{
        padding: 5%;
    }
    .mark img{
        height: 118px;
    }
    .market-btn{
        gap: 1rem;
    }
    .market-btn p {
        border-right: 5px solid #FF00D6;
        padding: 1% 2%;
    }
}