.d-flex{
display: flex;
gap: 1rem;
}
.d-flex img{
height: 55px;
}
.d-flex h1{
font-size: 32px;
font-weight: 500;
color: #fff;
text-decoration: none;
}
.connect-box{
    background: linear-gradient(90deg, #00FF47 0%, #00FF47 33.65%, #FAFF00 37.81%, #FAFF00 69.06%, #FF00D6 72.19%, #FF00D6 100%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);

}
.connect-btn{
    background-color: #fff;
}